src/Presentation/StatBotTelegram/bin/
src/Presentation/StatBotTelegram/obj/
src/Presentation/StatBotTelegram/appsettings.json
src/Core/Domain/bin
src/Core/Domain/obj
src/Core/Application/bin
src/Core/Application/obj
src/Infrastructure/Persistence/bin
src/Infrastructure/Persistence/obj
docker-compose.yml
/packages/
riderModule.iml
/_ReSharper.Caches/
.idea/